<footer id="colophon" class="site-footer">
  <div class="footer-top outer">
    <div class="inner">
      <div class="footer-widgets">

        <div class="widget footer-branding">
          {% assign logo_img_is_not_empty = site.footer.logo_img | is_not_empty %}
          {% if logo_img_is_not_empty %}
          <p class="site-logo">
            <a href='{{ '/' | relative_url }}'><img src="{{ site.footer.logo_img | relative_url }}" alt="Logo" /></a>
          </p>
          {% else %}
          <p class="site-title">
            <a href='{{ '/' | relative_url }}'>{{ site.title }}</a>
          </p>
          {% endif %}
          {% assign tagline_is_not_empty = site.footer.tagline | is_not_empty %}
          {% if tagline_is_not_empty %}
          <p class="site-description">
            {{ site.footer.tagline }}
          </p>
          {% endif %}
        </div><!-- .widget -->

        {% if site.footer.has_nav and site.footer.nav_links or site.footer.has_social and site.footer.social_links %}
        <nav class="widget footer-navigation">
          <div class="footer-nav-inside">
            {% if site.footer.nav_links and site.footer.has_nav %}
            <div class="secondary-nav">
              <h2 class="widget-title">{{ site.footer.nav_title }}</h2>
              <ul class="secondary-menu">
                {% for action in site.footer.nav_links %}
                <li>
                  
                  {% include action-link.html action=action %}
                </li>
                {% endfor %}
              </ul>
            </div><!-- .secondary-nav -->
            {% endif %}
            {% assign has_social_is_not_empty = site.footer.has_social | is_not_empty %}
            {% if has_social_is_not_empty %}
            <div class="social-nav">
              <h2 class="widget-title">{{ site.footer.social_title }}</h2>
              <ul class="social-links">
                {% for action in site.footer.social_links %}
                <li>
                  
                  {% include action-link.html action=action %}
                </li>
                {% endfor %}
              </ul><!-- .social-links -->
            </div><!-- .social-nav -->
            {% endif %}
          </div><!-- .footer-nav-inside -->
        </nav><!-- .widget -->
        {% endif %}
        {% assign has_subscribe_is_not_empty = site.footer.has_subscribe | is_not_empty %}
        {% if has_subscribe_is_not_empty %}
        <div class="widget footer-subscribe">
          <h2 class="widget-title">{{ site.footer.subscribe_title }}</h2>
          {% assign subscribe_content_is_not_empty = site.footer.subscribe_content | is_not_empty %}
          {% if subscribe_content_is_not_empty %}
          <p>{{ site.footer.subscribe_content }}</p>
          {% endif %}
          {% include subscribe_form.html %}
        </div><!-- .widget -->
        {% endif %}
      </div><!-- .footer-widgets -->
    </div><!-- .inner -->
  </div><!-- .outer -->

  <div class="site-info outer">
    <div class="inner">
      {{ site.footer.content }}
      &nbsp;
      {% for action in site.footer.links %}
        
        {% include action-link.html action=action %}
      {% endfor %}
    </div><!-- .inner -->
  </div><!-- .site-info -->

</footer><!-- .site-footer -->
