{% assign section = include.section %}
<section id="{{ section.section_id }}" class="block faq-block bg-{{ section.background }} outer">
  <div class="inner-small">
    <div class="block-header">
      {% assign title_is_not_empty = section.title | is_not_empty %}
      {% if title_is_not_empty %}
      <h2 class="block-title">{{ section.title }}</h2>
      {% endif %}
      {% assign subtitle_is_not_empty = section.subtitle | is_not_empty %}
      {% if subtitle_is_not_empty %}
      <p class="block-subtitle">
        {{ section.subtitle }}
      </p>
      {% endif %}
    </div><!-- .block-header -->
    {% assign faq_items_is_not_empty = section.faq_items | is_not_empty %}
    {% if faq_items_is_not_empty %}
    <dl class="faq-accordion">
      {% for faqitem in section.faq_items %}
      <dt class="accordion-header">
        <button class="accordion-trigger">
          <div class="accordion-title">{{ faqitem.question }}</div>
          <div class="accordion-icon icon-plus"></div>
        </button>
      </dt>
      <dd class="accordion-panel">
        <div class="accordion-content">
          {{ faqitem.answer | markdownify }}
        </div>
      </dd>
      {% endfor %}
    </dl><!-- .faq-accordion -->
    {% endif %}
  </div><!-- .inner-small -->
</section><!-- .block -->
