{% assign section = include.section %}
<section id="{{ section.section_id }}" class="block posts-block bg-{{ section.background }} outer">
  <div class="block-header inner-small">
    {% assign title_is_not_empty = section.title | is_not_empty %}
    {% if title_is_not_empty %}
    <h2 class="block-title">{{ section.title }}</h2>
    {% endif %}
    {% assign subtitle_is_not_empty = section.subtitle | is_not_empty %}
    {% if subtitle_is_not_empty %}
    <p class="block-subtitle">
      {{ section.subtitle }}
    </p>
    {% endif %}
  </div><!-- .block-header -->
  <div class="inner">
    <div class="post-feed">
      {% assign display_posts = '/blog' | get_pages | sort: 'date' | reverse %}
      {% assign slice_length = 3 | minus: 0 %}
      {% assign recent_posts = display_posts | slice: 0, slice_length %}
      {% for post in recent_posts %}
      <article class="post post-card">
        <div class="post-card-inside">
          {% assign thumb_image_is_not_empty = post.thumb_image | is_not_empty %}
          {% if thumb_image_is_not_empty %}
          <a class="post-card-thumbnail" href="{{ post.url | relative_url }}">
            <img class="thumbnail" src="{{ post.thumb_image | relative_url }}" alt="{{ post.thumb_image_alt }}" />
          </a>
          {% endif %}
          <div class="post-card-content">
            <header class="post-header">
              <h3 class="post-title"><a href="{{ post.url | relative_url }}" rel="bookmark">{{ post.title }}</a></h3>
            </header>
            <div class="post-excerpt">
              <p>{{ post.excerpt }}</p>
            </div>
            
            {% include blog_post_footer.html page=post date_type='short' %}
          </div><!-- .post-card-content -->
        </div><!-- .post-card-inside -->
      </article><!-- .post -->
      {% endfor %}
    </div><!-- .post-feed -->
  </div><!-- .inner -->
</section><!-- .block -->
