{% assign section = include.section %}
<section id="{{ section.section_id }}" class="block reviews-block bg-{{ section.background }} outer">
  <div class="block-header inner-small">
    {% assign title_is_not_empty = section.title | is_not_empty %}
    {% if title_is_not_empty %}
    <h2 class="block-title">{{ section.title }}</h2>
    {% endif %}
    {% assign subtitle_is_not_empty = section.subtitle | is_not_empty %}
    {% if subtitle_is_not_empty %}
    <p class="block-subtitle">
      {{ section.subtitle }}
    </p>
    {% endif %}
  </div><!-- .block-header -->
  {% assign reviews_is_not_empty = section.reviews | is_not_empty %}
  {% if reviews_is_not_empty %}
  <div class="inner">
    <div class="grid">
      {% for review in section.reviews %}
      <blockquote class="cell review">
        <div class="review-inside">
          <p class="review-text">{{ review.content }}</p>
          <footer class="review-footer">
            {% assign avatar_is_not_empty = review.avatar | is_not_empty %}
            {% if avatar_is_not_empty %}
            <img class="review-avatar" src="{{ review.avatar | relative_url }}" alt="{{ review.author }}">
            {% endif %}
            <cite class="review-author">{{ review.author }}</cite>
          </footer>
        </div><!-- .review-inside -->
      </blockquote><!-- .review -->
      {% endfor %}
    </div><!-- .grid -->
  </div><!-- .inner -->
  {% endif %}
</section><!-- .block -->
