{% assign section = include.section %}
<section id="{{ section.section_id }}" class="block contact-block bg-{{ section.background }} outer">
  <div class="block-header inner-small">
    {% assign title_is_not_empty = section.title | is_not_empty %}
    {% if title_is_not_empty %}
    <h2 class="block-title">{{ section.title }}</h2>
    {% endif %}
    {% assign subtitle_is_not_empty = section.subtitle | is_not_empty %}
    {% if subtitle_is_not_empty %}
    <p class="block-subtitle">
      {{ section.subtitle }}
    </p>
    {% endif %}
  </div><!-- .block-header -->
  <div class="block-content inner-medium">
    {{ section.content | markdownify }}
    <form name="contactForm" method="POST" data-netlify-honeypot="bot-field" data-netlify="true" id="contact-form"
      class="contact-form">
      <p class="screen-reader-text">
        <label id="contact-form-bot-label">Don't fill this out if you're human: <input name="bot-field" aria-labelledby="contact-form-bot-label" /></label>
      </p>
      <p class="form-row">
        <label id="contact-form-name-label" for="contact-form-name" class="form-label">Name</label>
        <input type="text" name="name" id="contact-form-name" aria-labelledby="contact-form-name-label" class="form-input">
      </p>
      <p class="form-row">
        <label id="contact-form-email-label" for="contact-form-email" class="form-label">Email address</label>
        <input type="email" name="email" id="contact-form-email" aria-labelledby="contact-form-email-label" class="form-input">
      </p>
      <p class="form-row">
        <label id="contact-form-message-label" for="contact-form-message" class="form-label">Message</label>
        <textarea name="message" id="contact-form-message" aria-labelledby="contact-form-message-label" class="form-textarea" rows="7"></textarea>
      </p>
      <input type="hidden" aria-label="contact-form-name" name="form-name" value="contactForm" />
      <p class="form-row form-submit">
        <button type="submit" class="button">Send Message</button>
      </p>
    </form><!-- .contact-form -->
  </div><!-- .block-content -->
</section><!-- .outer-->
