<form name="subscribeForm" method="POST" data-netlify-honeypot="bot-field" data-netlify="true" id="subscribe-form" class="subscribe-form">
  <div class="screen-reader-text">
    <label id="subscribe-form-bot-label">Don't fill this out if you're human: <input name="bot-field" aria-labelledby="subscribe-form-bot-label" /></label>
  </div>
  <div class="form-row">
    <label id="subscribe-form-email-label">
      <span class="screen-reader-text">Email address</span>
      <input class="subscribe-email" aria-labelledby="subscribe-form-email-label" type="email" name="email" placeholder="Enter Email Address...">
    </label>
  </div>
  <input type="hidden" aria-label="subscribe-form-name-label" name="form-name" value="subscribeForm" />
  <button class="button" type="submit">Subscribe</button>
</form><!-- .subscribe-form -->
