---
layout: body
---

<div class="outer">
  <div class="inner">

    <div class="post-feed">
      {% assign display_posts = '/blog' | get_pages | sort: 'date' | reverse %}
      {% for post in display_posts %}
      <article class="post post-card">
        <div class="post-card-inside">
          {% assign thumb_image_is_not_empty = post.thumb_image | is_not_empty %}
          {% if thumb_image_is_not_empty %}
          <a class="post-card-thumbnail" href="{{ post.url | relative_url }}">
            <img class="thumbnail" src="{{ post.thumb_image | relative_url }}" alt="{{ post.thumb_image_alt }}" />
          </a>
          {% endif %}
          <div class="post-card-content">
            <header class="post-header">
              <h2 class="post-title"><a href="{{ post.url | relative_url }}" rel="bookmark">{{ post.title }}</a></h2>
            </header><!-- .post-header -->
            <div class="post-excerpt">
              <p>{{ post.excerpt }}</p>
            </div>
            
            {% include blog_post_footer.html page=post date_type='short' %}
          </div><!-- post-card-content -->
        </div><!-- .post-card-inside -->
      </article><!-- .post -->
      {% endfor %}
    </div><!-- .post-feed -->

    <!-- Pagination TBD -->
    <!--
    <nav class="pagination">
      <div class="nav-links">
        <a class="newer-posts button secondary" href="#"><span class="icon-arrow-left" aria-hidden="true"></span> Previous</a>
        <span class="page-number">Page X of Y</span>
        <a class="older-posts button secondary" href="#">Next <span class="icon-arrow-right" aria-hidden="true"></span></a>
      </div>
    </nav>
    -->

  </div><!-- .inner -->
</div><!-- .outer-->
