---
layout: body
---

<div class="outer">
  <div class="inner-medium">

    <article class="post post-full">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header><!-- .post-header -->
      {% assign image_is_not_empty = page.image | is_not_empty %}
      {% if image_is_not_empty %}
      <div class="post-thumbnail">
        <img src="{{ page.image | relative_url }}" alt="{{ page.image_alt }}" />
      </div><!-- .post-thumbnail -->
      {% endif %}
      {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %}
      {% if subtitle_is_not_empty %}
      <div class="post-subtitle">
        {{ page.subtitle }}
      </div><!-- .post-subtitle -->
      {% endif %}
      <div class="post-content">
        {{ content }}
      </div><!-- .post-content -->
      
      {% include blog_post_footer.html page=page date_type='long' %}
    </article><!-- .post -->

    <!-- Next/previous post navigation TBD -->
    <!--
    <nav class="read-next">
      <h2 class="read-next-title">Read Next</h2>
      <div class="post-feed">
        <article class="post post-card">
          <div class="post-card-inside">
            <a class="post-card-thumbnail" href="#"><img src="#" alt="" /></a>
            <div class="post-card-content">
              <header class="post-header">
                <h3 class="post-title"><a href="#" rel="bookmark">Previous Post Title</a></h3>
              </header>
              <footer class="post-meta">
                <time class="published" datetime="">Previous post date</time>
              </footer>
            </div>
          </div>
        </article>
        <article class="post post-card">
          <div class="post-card-inside">
            <a class="post-card-thumbnail" href="#"><img src="#" alt="" /></a>
            <div class="post-card-content">
              <header class="post-header">
                <h3 class="post-title"><a href="#" rel="bookmark">Next Post Title</a></h3>
              </header>
              <footer class="post-meta">
                <time class="published" datetime="">Next post date</time>
              </footer>
            </div>
          </div>
        </article>
      </div>
    </nav>
    -->

  </div><!-- .inner-medium -->
</div><!-- .outer-->
